
/* Typography */

$primary-text: #444;
$link-text: #2d818f;
$link-text-hover: rgba(45,129,143,.6);
$primary-white: #fefefe;
$primary-grey: rgb(250, 250, 250);
$copy-size: 16px;
$ff-title: 'Work Sans', 'sans-serif';
$ff-headline: 'brandon-grotesque', 'sans-serif';
$ff-body: 'ff-meta-serif-web-pro', 'serif';

/* Breakpoint Definitions */

$tablet-width: 768px;
$desktop-small: 960px;
$desktop-medium: 1024px;
$desktop-large: 1200px;