.cta__block {
  margin: 40px 0px;
}
.cta__action {
  font-family: 'futura-pt', 'sans-serif';
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: #fff;
  border-color: rgb(13, 13, 13);
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;

  padding: 13px 26px;

  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}
.cta__action:hover {
  color: #fff;
  background-color: rgb(13, 13, 13);
  border-color: rgb(13, 13, 13);
}