@import '../Variables.scss';
@import '../Mixins.scss';

$gallery__grid-unit: 6vw;

.gallery__container {
  margin: 16px;

  picture {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gallery__row {
  display: grid;
  grid-template-columns: repeat(12, $gallery__grid-unit);
  grid-gap: 8px 8px;
  margin-bottom: 8px;
}

.image-0 {
  grid-area: one;
}
.image-1 {
  grid-area: two;
}
.image-2 {
  grid-area: three;
}

.portrait-portrait {
  grid-template-rows: repeat(9, $gallery__grid-unit);
  grid-template-areas:
    "one one one one one one two two two two two two"
    "one one one one one one two two two two two two"
    "one one one one one one two two two two two two"
    "one one one one one one two two two two two two"
    "one one one one one one two two two two two two"
    "one one one one one one two two two two two two";
}

.landscape {
  grid-template-rows: repeat(8, $gallery__grid-unit);
  grid-template-areas:
    "one one one one one one one one one one one one"
    "one one one one one one one one one one one one"
    "one one one one one one one one one one one one"
    "one one one one one one one one one one one one"
    "one one one one one one one one one one one one"
    "one one one one one one one one one one one one"
    "one one one one one one one one one one one one"
    "one one one one one one one one one one one one"
    ;
}

.landscape-portrait {
  grid-template-rows: repeat(6, $gallery__grid-unit);
  grid-template-areas:
    "one one one one one one one one two two two two"
    "one one one one one one one one two two two two"
    "one one one one one one one one two two two two"
    "one one one one one one one one two two two two"
    "one one one one one one one one two two two two"
    "one one one one one one one one two two two two"
}

.gallery__image-full {
  width: 100%;
}

.gallery__image-half {
  width: 50%;
}