@import '../Variables.scss';
@import '../Mixins.scss';

$row__tall: repeat(4, 110px);
$row__wide: repeat(4, 72px);

.gallery__container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  picture {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gallery__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px 8px;
  margin-bottom: 8px;
}

.image-0 {
  grid-area: one;
}
.image-1 {
  grid-area: two;
}
.image-2 {
  grid-area: three;
}

.portrait-portrait {
  grid-template-rows: $row__tall;
  grid-template-areas:
    "one one one two two two"
    "one one one two two two"
    "one one one two two two"
    "one one one two two two";
}

.landscape {
  grid-template-rows: $row__wide;
  grid-template-areas:
    "one one one one one one"
    "one one one one one one"
    "one one one one one one"
    "one one one one one one";
}

.landscape-portrait {
  grid-template-rows: $row__wide;
  grid-template-areas:
    "one one one one two two"
    "one one one one two two"
    "one one one one two two"
    "one one one one two two"
}

.landscape-landscape-portrait {
  grid-template-rows: $row__tall;
  grid-template-areas:
    "one one one three three three"
    "one one one three three three"
    "two two two three three three"
    "two two two three three three"
}

.gallery__image-full {
  width: 100%;
}

.gallery__image-half {
  width: 50%;
}