@import '../Variables.scss';
@import '../Mixins.scss';

.hero {
  grid-area: hero;
  position: relative;
  width: 100%;
  // height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;

  h1 {
    color: $primary-white;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 300;
    letter-spacing: 11px;
    line-height: 56px;
    text-align: center;

    @include bp-desktop-small {
      font-size: 66px;
      line-height: 76px;
    }

    @include bp-desktop-medium {
      font-size: 76px;
      line-height: 86px;
    }

    @include bp-desktop-large {
      font-size: 100px;
      line-height: 100px;
    }
  }
}
.hero__large {
  height: calc(100vh - 80px);
}
.hero__medium {
  height: calc(85vh - 80px);
}
.hero__small {
  height: calc(70vh - 80px);
}

.hero__image {
  width: 100%;
  // height: calc(100vh - 80px);
  background-size: cover;
  background-position: center center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero__content {
  color: #333;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 95vw;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.hero__content p {
  text-align: center;
  padding: 0px 8px;
}

.spacer {
  border: solid 0.5px #888;
  width: 20%;
}