@import '../Mixins.scss';

.titlecard {
  width: 90vw;
  text-align: center;

  h1 {
    color: rgba(28, 28, 28, 0.6);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 8px;
    margin-bottom: 16px;

    @include bp-desktop-small {
      font-size: 60px;
      letter-spacing: 11px;
    }
    // @include bp-desktop-large {
    //   font-size: 82px;
    // }
  }
}
.titlecard__image {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @include bp-tablet {
    height: 400px;
  }

  @include bp-desktop-small {
    height: 600px;
  }

  @include bp-desktop-medium {
    height: 800px;
  }
}
